/* Estilos generales para el footer */
.footer {
    background-color: #333; /* Fondo oscuro */
    color: white;
    padding: 40px 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1;
    min-width: 250px;
    margin: 10px;
  }
  
  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffeb3b; /* Amarillo */
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-column ul li a:hover {
    color: #ffeb3b; /* Amarillo */
  }
  
  .footer-column p {
    margin: 10px 0;
  }
  
  .social-links a {
    color: white;
    margin-right: 10px;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #ffeb3b; /* Amarillo */
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Estilos para móviles */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-column {
      margin: 20px 0;
    }
  }
  